/* Reset and base styles  */
@import url("../fonts/stylesheet.css");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #242424;
  font-family: "Inter", sans-serif;
  background-color: #ECECEC;
  scroll-behavior: smooth;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
.container__inner {
  position: relative;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .container__inner {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .container__inner {
    margin-top: 20px;
  }
}
@media (max-width: 1500px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
}

h1 {
  font-weight: 800;
  font-size: 101px;
  line-height: 94px;
}
h1 span {
  color: #FFEE44;
}
@media (max-width: 768px) {
  h1 {
    font-size: 62px;
    line-height: 55px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 39px;
    line-height: 35px;
  }
}

h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 40px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 480px) {
  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.section {
  padding-top: 160px;
}
@media (max-width: 1024px) {
  .section {
    padding-top: 120px;
  }
}
@media (max-width: 480px) {
  .section {
    padding-top: 100px;
  }
}

.no-scroll {
  overflow: hidden;
}

.header {
  position: relative;
}
.header__wrapper {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__wrapper {
    padding-top: 20px;
    justify-content: unset;
  }
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1280px) {
  .header__btns {
    gap: 12px;
  }
}
@media (max-width: 1024px) {
  .header__btns {
    margin-left: auto;
  }
}
@media (max-width: 480px) {
  .header__btns {
    display: none;
  }
}

.logo {
  display: flex;
}
@media (max-width: 1024px) {
  .logo {
    max-width: 140px;
  }
}

.footer {
  margin-top: 160px;
  background-color: #242424;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 100px 0 20px 0;
}
@media (max-width: 1024px) {
  .footer {
    margin-top: 120px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 44px 0 20px 0;
  }
}
@media (max-width: 480px) {
  .footer {
    margin-top: 100px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__bottom {
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__bottom {
    margin-top: 52px;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    margin-top: 74px;
  }
}
.footer__copyright {
  font-size: 20px;
  color: #fff;
}
@media (max-width: 480px) {
  .footer__copyright {
    font-size: 12px;
  }
}
.footer__policy {
  font-size: 20px;
  color: #fff;
}
@media (max-width: 480px) {
  .footer__policy {
    font-size: 12px;
  }
}

.footer-form {
  width: 50%;
}
@media (max-width: 768px) {
  .footer-form {
    width: 100%;
  }
}
.footer-form__title {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 768px) {
  .footer-form__title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .footer-form__title {
    font-size: 20px;
  }
}
.footer-form__subtitle {
  margin-top: 40px;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 768px) {
  .footer-form__subtitle {
    margin-top: 36px;
  }
}
@media (max-width: 480px) {
  .footer-form__subtitle {
    margin-top: 20px;
    font-size: 16px;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1440px) {
  .menu {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .menu {
    display: none;
  }
}
.menu__link {
  font-size: 20px;
  color: #242424;
}
@media (max-width: 1280px) {
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .menu__link {
    font-size: 20px;
  }
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: start;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 25px;
  width: 100%;
  z-index: 6;
  background-color: #FDFEF8;
  min-height: 100dvh;
}
.mobile-menu.open {
  display: flex;
}
@media (max-width: 480px) {
  .mobile-menu {
    padding: 20px 12px;
  }
}
.mobile-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mobile-menu__link {
  font-size: 24px;
  color: #242424;
  text-transform: uppercase;
}

.mobile-menu-list {
  margin: 60px 0 150px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .mobile-menu-list {
    margin-bottom: 110px;
  }
}
.mobile-menu-list__link {
  font-size: 20px;
  color: #242424;
}

.menu-btn {
  display: none;
}
@media (max-width: 1024px) {
  .menu-btn {
    display: flex;
    justify-self: start;
    margin-left: 8px;
  }
}
@media (max-width: 480px) {
  .menu-btn {
    margin-left: auto;
  }
}

.btn {
  color: #242424;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #242424;
  transition: all 0.3s;
  font-size: 18px;
}
.btn:hover {
  border-color: #575757;
  color: #575757;
}
.btn--signIn {
  padding: 14px 59px;
}
@media (max-width: 1280px) {
  .btn--signIn {
    padding: 9px 20px;
  }
}
.btn--signUp {
  padding: 14px 52px;
}
@media (max-width: 1280px) {
  .btn--signUp {
    padding: 9px 32px;
  }
}
@media (max-width: 1024px) {
  .btn--signUp {
    padding: 9px 20px;
  }
}
.btn--hero {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  padding: 19px;
  max-width: 360px;
  width: 100%;
}
@media (max-width: 768px) {
  .btn--hero {
    margin-top: 20px;
    padding: 9px 20px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 480px) {
  .btn--hero {
    width: 100%;
    max-width: none;
  }
}
.btn--try {
  display: flex;
  justify-content: center;
  padding: 19px;
  max-width: 486px;
  width: 100%;
}
@media (max-width: 768px) {
  .btn--try {
    max-width: 354px;
  }
}
@media (max-width: 480px) {
  .btn--try {
    padding: 9px;
  }
}
.btn--form {
  margin-top: 40px;
  padding: 19px;
  width: 100%;
  border-radius: 0;
}
@media (max-width: 768px) {
  .btn--form {
    margin-top: 20px;
    padding: 10px;
  }
}
.btn--yellow {
  border-color: #FFEE44;
  background-color: #FFEE44;
  transition: background-color 0.3s;
}
.btn--yellow:hover {
  border-color: #FFEE44;
  background-color: #FFE249;
}

.try {
  padding: 196px 0 214px 0;
  background-color: #242424;
  background-image: url("../img/bg-try.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .try {
    padding: 118px 0 130px 0;
  }
}
@media (max-width: 480px) {
  .try {
    padding-top: 86px;
    background-position: 40% 50%;
  }
}
.try__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  color: #fff;
}
@media (max-width: 768px) {
  .try__wrapper {
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .try__wrapper {
    gap: 94px;
  }
}
.try__title {
  font-size: 101px;
  line-height: 90%;
  letter-spacing: -0.04em;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 1024px) {
  .try__title {
    font-size: 90px;
  }
}
@media (max-width: 768px) {
  .try__title {
    font-size: 56px;
    letter-spacing: -0.03em;
  }
}
@media (max-width: 480px) {
  .try__title {
    font-size: 36px;
  }
}

.functional {
  display: flex;
  gap: 270px;
}
@media (max-width: 768px) {
  .functional {
    flex-direction: column;
    align-items: flex-end;
  }
}
.functional__img {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1024px) {
  .functional__img {
    max-width: 360px;
  }
}
@media (max-width: 768px) {
  .functional__img {
    order: 2;
    align-self: flex-start;
    margin-left: calc(100% - 496px);
  }
}
@media (max-width: 526px) {
  .functional__img {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .functional__img {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .functional {
    gap: 160px;
  }
}
@media (max-width: 1024px) {
  .functional {
    gap: 80px;
  }
}
@media (max-width: 768px) {
  .functional {
    gap: 20px;
  }
}

.functional-list {
  max-width: 486px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .functional-list {
    order: 1;
  }
}
.functional-list__item {
  padding: 20px;
  min-height: 120px;
  font-size: 18px;
  border-top: 1px solid #242424;
}
@media (max-width: 480px) {
  .functional-list__item {
    font-size: 14px;
  }
}
.functional-list__item:last-child {
  border-bottom: 1px solid #242424;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .top {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .top {
    gap: 20px;
  }
}
.top__description {
  display: flex;
  gap: 26px;
}
@media (max-width: 480px) {
  .top__description {
    gap: 35px;
  }
}
.top__img {
  display: flex;
  align-self: flex-end;
  flex-shrink: 1;
  max-width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .top__img {
    max-width: 40px;
  }
}
.top__img--big {
  max-width: 150px;
}
@media (max-width: 768px) {
  .top__img--big {
    max-width: 100px;
  }
}
@media (max-width: 480px) {
  .top__img--big {
    max-width: 40px;
  }
}

.message {
  position: relative;
  max-width: 678px;
  background-color: #fff;
  padding: 40px;
  border-radius: 25px 25px 0 25px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.13);
}
@media (max-width: 768px) {
  .message {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .message {
    max-width: unset;
  }
}
.message::after {
  position: absolute;
  content: url("../img/angle.png");
  right: -44px;
  bottom: -4px;
}
.message__title {
  color: #051756;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 480px) {
  .message__title {
    font-size: 16px;
  }
}
.message__description {
  margin-top: 20px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .message__description {
    margin-top: 4px;
  }
}
@media (max-width: 480px) {
  .message__description {
    font-size: 14px;
  }
}

.benefit {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  counter-reset: benefit;
}
@media (max-width: 768px) {
  .benefit {
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
  }
}
.benefit__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  min-height: 750px;
  border: 1px solid #CACACA;
}
@media (max-width: 768px) {
  .benefit__item {
    background-color: #fff;
    padding: 15px;
    border: none;
    min-height: auto;
    max-width: 350px;
  }
}
.benefit__item svg {
  position: absolute;
  z-index: 10;
  content: "";
  font-size: 313px;
  color: #575757;
  top: 175px;
  left: 50%;
  translate: -50% 0;
}
.benefit__item::before {
  position: absolute;
  z-index: 10;
  counter-increment: benefit;
  content: counter(benefit);
  font-size: 313px;
  color: #575757;
  top: 100px;
  left: 50%;
  translate: -50% 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .benefit__item::before {
    content: "";
  }
}
@media (hover: hover) {
  .benefit__item:hover {
    background-color: #575757;
  }
  .benefit__item:hover .benefit__hidden {
    display: flex;
    flex-direction: column;
  }
  .benefit__item:hover .benefit__bottom {
    display: none;
  }
  .benefit__item:hover:not(:last-child)::before {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
  .benefit__item:hover:last-child::before {
    opacity: 0;
  }
  .benefit__item:hover svg > #fillInside {
    fill: transparent;
  }
  .benefit__item:hover svg > #fillOutside {
    fill: #fff;
  }
}
.benefit__hidden {
  position: relative;
  height: 100%;
  display: none;
  pointer-events: none;
}
@media (max-width: 768px) {
  .benefit__hidden {
    display: contents;
  }
}
.benefit__hidden .benefit__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .benefit__hidden .benefit__icon {
    display: none;
  }
}
.benefit__img {
  display: flex;
  aspect-ratio: 9/16;
  max-height: 507px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .benefit__img {
    max-height: 280px;
    -o-object-position: 50% 0;
       object-position: 50% 0;
  }
}
.benefit__description {
  margin-top: 20px;
  display: flex;
  padding-right: 24px;
}
.benefit__description .benefit__title {
  display: none;
}
@media (max-width: 768px) {
  .benefit__description .benefit__title {
    display: flex;
  }
}
@media (max-width: 768px) {
  .benefit__description {
    padding-right: 0;
    margin-top: 10px;
    flex-direction: column;
  }
}
.benefit__icon {
  display: flex;
  align-self: flex-end;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.benefit__text {
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
}
@media (max-width: 768px) {
  .benefit__text {
    margin-top: 10px;
    color: #242424;
    letter-spacing: -0.03em;
  }
}
.benefit__bottom {
  display: flex;
  justify-content: space-between;
  margin-block-start: auto;
}
@media (max-width: 768px) {
  .benefit__bottom {
    display: none;
  }
}
.benefit__title {
  font-size: 22px;
  text-transform: uppercase;
  color: #575757;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .form {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .form {
    margin-top: 20px;
  }
}

.input {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}
@media (max-width: 768px) {
  .input {
    padding: 10px 0 10px 0;
  }
}
.input::-moz-placeholder {
  color: #fff;
}
.input::placeholder {
  color: #fff;
}

.footer-contacts {
  margin-top: 89px;
  display: grid;
  gap: 58px;
  width: 35%;
}
@media (max-width: 1024px) {
  .footer-contacts {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .footer-contacts {
    width: 100%;
    margin-top: 40px;
    gap: 26px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
@media (max-width: 480px) {
  .footer-contacts {
    gap: 20px;
  }
}
.footer-contacts__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer-contacts__item {
    gap: 0;
  }
}
.footer-contacts__item ul {
  display: flex;
  gap: 20px;
}
.footer-contacts__title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #fff;
}
.footer-contacts__title::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: -2px;
  display: flex;
  flex-shrink: 1;
  background-color: #DADADA;
}
.footer-contacts__link {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.possibilities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 420px);
}
@media (max-width: 1280px) {
  .possibilities {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 320px);
  }
}
@media (max-width: 900px) {
  .possibilities {
    grid-template-rows: repeat(2, 420px);
  }
}
@media (max-width: 768px) {
  .possibilities {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
}
.possibilities__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #CACACA;
  padding: 20px;
}
@media (max-width: 768px) {
  .possibilities__item {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 15px 0;
  }
}
@media (hover: hover) {
  .possibilities__item:hover {
    background-color: #fff;
    border-color: #fff;
  }
  .possibilities__item:hover .possibilities__description {
    display: flex;
  }
  .possibilities__item:hover .possibilities__icon {
    transform: rotate(45deg);
  }
}
.possibilities__item:last-child {
  border-bottom: 1px solid #CACACA;
}
.possibilities__item:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media (max-width: 1280px) {
  .possibilities__item:nth-of-type(2) {
    grid-row: unset;
    grid-column: unset;
  }
}
.possibilities__item:nth-of-type(3) {
  grid-column: 3/4;
}
@media (max-width: 1280px) {
  .possibilities__item:nth-of-type(3) {
    grid-column: unset;
  }
}
.possibilities__item:nth-of-type(4) {
  grid-row: 2/3;
  grid-column: 4/5;
}
@media (max-width: 1280px) {
  .possibilities__item:nth-of-type(4) {
    grid-row: unset;
    grid-column: unset;
  }
}
.possibilities__item.open .possibilities__btn::after {
  display: none;
}
.possibilities__item.open .possibilities__description {
  grid-template-rows: 1fr;
}
.possibilities__item.open .possibilities__description .possibilities-list {
  margin-top: 18px;
}
@media (max-width: 768px) {
  .possibilities__top {
    display: flex;
    justify-content: space-between;
  }
}
.possibilities__top .possibilities__counter {
  display: none;
}
@media (max-width: 768px) {
  .possibilities__top .possibilities__counter {
    display: flex;
  }
}
.possibilities__title {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-weight: 500;
}
@media (max-width: 768px) {
  .possibilities__title {
    width: 304px;
  }
}
@media (max-width: 480px) {
  .possibilities__title {
    font-size: 16px;
    max-width: 240px;
  }
}
.possibilities__description {
  display: none;
}
@media (max-width: 768px) {
  .possibilities__description {
    max-width: 304px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease;
  }
}
@media (max-width: 480px) {
  .possibilities__description {
    max-width: 240px;
  }
}
.possibilities__bottom {
  margin-block-start: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .possibilities__bottom {
    display: none;
  }
}
.possibilities__counter {
  font-size: 18px;
  font-weight: 500;
  color: #979797;
}
@media (max-width: 768px) {
  .possibilities__counter {
    width: 28px;
  }
}
.possibilities__icon {
  transition: all 0.3s;
}
.possibilities__btn {
  position: relative;
  display: none;
  width: 14px;
  height: 14px;
}
@media (max-width: 768px) {
  .possibilities__btn {
    display: flex;
  }
}
.possibilities__btn::before, .possibilities__btn::after {
  position: absolute;
  content: "";
  background-color: #979797;
  border-radius: 2px;
}
.possibilities__btn::before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 2px;
}
.possibilities__btn::after {
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px;
}

.possibilities-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 768px) {
  .possibilities-list {
    min-height: 0;
    margin-top: 0;
  }
}
.possibilities-list li {
  position: relative;
  padding-left: 20px;
  font-weight: 500;
}
@media (max-width: 480px) {
  .possibilities-list li {
    font-size: 14px;
  }
}
.possibilities-list li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #242424;
  top: 6px;
  left: 6px;
}

.hero {
  margin-top: 110px;
  padding-bottom: 40px;
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero {
    margin-top: 60px;
    background-image: url("../img/bg-hero768.svg");
    background-position: 50% -20%;
    background-size: auto;
  }
}
@media (max-width: 480px) {
  .hero {
    margin-top: 34px;
    background-image: url("../img/bg-hero480.svg");
    background-position: 50% -80%;
  }
}
@media (max-width: 360px) {
  .hero {
    background-position: 50% -35%;
  }
}
.hero__top {
  padding-bottom: 270px;
  position: relative;
}
@media (max-width: 768px) {
  .hero__top {
    padding-bottom: 390px;
  }
}
@media (max-width: 480px) {
  .hero__top {
    padding-bottom: 100px;
  }
}
.hero__title {
  position: relative;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  z-index: 2;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 90px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 62px;
  }
}
@media (max-width: 660px) {
  .hero__title {
    font-size: 55px;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 39px;
  }
}
@media (max-width: 360px) {
  .hero__title {
    font-size: 34px;
  }
}
.hero__text {
  position: relative;
  max-width: 570px;
  margin-top: 40px;
  font-size: 24px;
  z-index: 2;
}
@media (max-width: 768px) {
  .hero__text {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .hero__text {
    margin-top: 60px;
    font-size: 18px;
  }
}
.hero__img {
  position: absolute;
  right: 0;
  bottom: 24px;
}
@media (max-width: 1500px) {
  .hero__img {
    max-height: 540px;
  }
}
@media (max-width: 1024px) {
  .hero__img {
    max-height: 440px;
  }
}
@media (max-width: 768px) {
  .hero__img {
    max-height: 368px;
    right: 120px;
    bottom: 60px;
  }
}
@media (max-width: 660px) {
  .hero__img {
    right: 0;
  }
}
@media (max-width: 480px) {
  .hero__img {
    max-height: 156px;
    top: 0;
  }
}

.hero-message {
  display: flex;
  justify-content: center;
  gap: 28px;
}
@media (max-width: 480px) {
  .hero-message {
    gap: 36px;
  }
}
.hero-message__wrapper {
  position: relative;
  background-color: #fff;
  padding: 40px;
  border-radius: 25px 25px 25px 0;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.13);
  max-width: 614px;
}
@media (max-width: 768px) {
  .hero-message__wrapper {
    padding: 20px;
    max-width: 574px;
  }
}
@media (max-width: 480px) {
  .hero-message__wrapper {
    padding: 15px;
  }
}
.hero-message__wrapper::before {
  position: absolute;
  content: url("../img/angle.png");
  left: -44px;
  bottom: -4px;
  transform: scale(-1, 1);
}
.hero-message__title {
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 480px) {
  .hero-message__title {
    font-size: 16px;
  }
}
.hero-message__text {
  margin-top: 16px;
  font-size: 18px;
}
@media (max-width: 480px) {
  .hero-message__text {
    margin-top: 4px;
    font-size: 14px;
  }
}
.hero-message__img {
  display: flex;
  align-self: flex-end;
  flex-shrink: 1;
  max-width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .hero-message__img {
    max-width: 40px;
  }
}