.btn {
    color: $accent-color;
    border-radius: $main-radius;
    border-width: 1px;
    border-style: solid;
    border-color: $accent-color;

    font-size: 18px;

    &--signIn {
        padding: 14px 59px;
    }
    &--signUp {
        padding: 14px 52px;
    }
    &--try {
        padding: 19px;
        max-width: 486px;
        width: 100%;
    }
    &--form {
        margin-top: 40px;
        padding: 19px;
        width: 100%;
        border-radius: 0;
    }
    &--yellow {
        border-color: $main-color;
        background-color: $main-color;
    }
}