.header {
    
    &__wrapper {
        margin-top: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
