// color
$main-color: #FFEE44;
$accent-color: #242424;
$secondary-color: #575757;

// breakpoint 
$breakpoint1500: 1500 + px;
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint660: 660 + px;
$breakpoint560: 560 + px;
$breakpoint480: 480 + px;
$breakpoint360: 360 + px;

// font-family
$secondary-font: Helvetica;

// border-radius
$main-radius: 10px;